*~
#*
*#
.#*
_build
eliom.install

src/**/*.mllib
src/**/*.mldylib
src/**/*.odocl

local/var/run
local/var/lib/
local/var/log/
local/etc
local/lib/client
local/lib/server
local/lib/syntax

tests/distillery/basic
