version=0.29.0
parse-docstrings = false
wrap-comments = false
break-sequences = false
break-separators = before
break-string-literals = never
cases-matching-exp-indent = compact
dock-collection-brackets = false
parens-tuple = multi-line-only
sequence-blank-line = compact
if-then-else = keyword-first
space-around-arrays = false
space-around-records = false
space-around-lists = false
space-around-variants = false
function-indent-nested = always
indicate-multiline-delimiters = closing-on-separate-line
