# Database
local_db

# Local server configuration
local

# Eliom
.depend
_client
_deps
_server

# Mobile application
cordova

# Style
.sass-cache

static/css/%%%PROJECT_NAME%%%.css.map
static/css/%%%PROJECT_NAME%%%.css

# Dune
_build
