/*
#######################################################
#              APACHE DIRECTORY LISTING               #
# --------------------------------------------------- #
#    AUTHOR : Antoine Popineau <mail@apognu.info>     #
# --------------------------------------------------- #
#        SCRIPT UNDER CREATIVE COMMONS LICENCE        #
#                SOME RIGHTS RESERVED                 #
#   http://creativecommons.org/licenses/by-sa/2.5/    #
#######################################################
*/

* {
	border: 0;
	margin: 0; padding: 0;
}

body {
	font-family: 'Trebuchet MS', Verdana, Helvetica, sans-serif;
	font-size: 0.7em;
	padding: 20px;
	color: #5a5859;
	background: url('medias/firefox.png') top right;
	background-repeat: no-repeat;
}

p {
	margin-bottom: 5px;
	text-align: justify;
	width: 600px;
}

h1 {
	font-variant: small-caps;
	font-size: 1.6em;
	text-align: center;
	margin: 30px 0;
	border: 1px solid #5a5859;
	-moz-border-radius: 5px;
}

table {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}

tr:hover {
	background: #5a5859;
	color: white;
}

tr a {
	display: block;
	line-height: 22px;
	text-decoration: none;
	color: #5a5859;
}

tr:hover a {
	color: white;
}

th {
	text-align: left;
}

tr#headers {
	border: 1px solid black;
}

tr#headers:hover {
	background: transparent;
	color: #5a5859;
}

td.img {
	width: 30px;
}

p#footer {
	text-align: center;
	font-size: 0.9em;
	border-bottom: 1px solid #5a5859;
	margin-bottom: 20px;
	width: 100%;
}
