h1{
  background-color: #2233aa;
  text-align: center;
  color: white;
  margin: 2px;
}

body{
  margin: 0px;
  padding: 10px;
  border: 5px solid #333333;
}

div.box{
  border: 1px solid #555555;
}

div.colonnegauche{
  float: left;
  width: 200px;
}

div.colonnedroite{
  margin-left: 210px;
}

li{
   border: 2px solid white;
   padding: 4px;
   background-color: #99ccff;
   list-style: none;
}
